---
Language: Cpp
BasedOnStyle: Microsoft
NamespaceIndentation: All
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true
FixNamespaceComments: false
BreakConstructorInitializers: BeforeComma
...
